<?xml version='1.0' encoding='utf-8'?>
  <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.oktala.parole"
        version     = "1.0" >

    <!-- versionCode is optional and Android only -->

    <name>Parole</name>
    <description>
       Parole é um jogo de caça palavras e passa-tempo
    </description>
    <author email="hello@playparole.com" href="http://www.playparole.com">
        Oktala
    </author>


    <preference name="phonegap-version" value="2.0.0" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="false" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <preference name="backgroundColor" value="0xffffff" />

    <gap:platform name="android" />

    <gap:url-scheme role="None">
      <scheme>http</scheme>
      <scheme>parole</scheme>
      <host>*.playparole.com</host>
    </gap:url-scheme>

    <gap:plugin name="org.apache.cordova.network-information" version="0.2.7" />
    <gap:plugin name="nl.x-services.plugins.socialsharing" />
    <gap:plugin name="org.li8.inappbrowser" version="0.1" />

    <gap:plugin name="com.phonegap.plugins.facebookconnect" >
        <param name="APP_ID" value="108237009230483" />
        <param name="APP_NAME" value="playparole" />
    </gap:plugin>
    <gap:plugin name="it.mobimentum.phonegapspinnerplugin" />
    <gap:plugin name="com.adobe.plugins.gaplugin" />
    <!--<gap:plugin name="com.mcm.plugins.androidinappbilling" version="3.0.1" />-->

    <icon src="img/icon200.png" />
    <icon gap:density="ldpi" gap:platform="android" src="img/icon36.png" />
    <icon gap:density="mdpi" gap:platform="android" src="img/icon48.png" />
    <icon gap:density="hdpi" gap:platform="android" src="img/icon72.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="img/icon96.png" />
    <icon gap:density="xxhdpi" gap:platform="android" src="img/icon144.png" />
    <icon gap:density="xxxhdpi" gap:platform="android" src="img/icon200.png" />

   
   
    <access origin="http://127.0.0.1*" />
    <access origin="http://www.playparole.com/*" subdomains="true" />
    <access origin="*" />
    <content src="index.html" />
</widget>
